<div class="footer">
    <div class="conteudo">
        <div class="footer-content">
            <div style="order: 0; text-align: left;" class="footer-field">
                <img src="assets/logo-prodesp-color.png" style="width: 190px;">
            </div><!--footer-field-->
            <div style="order: 1; text-align: right;" class="footer-field">
                <a class="social" href=""><i style="font-size: 2rem; color: grey;" class="pi pi-youtube"></i></a>
                <a class="social" href=""><i style="font-size: 2rem; color: grey;" class="pi pi-twitter"></i></a>
                <a class="social" href=""><i style="font-size: 2rem; color: grey;" class="pi pi-facebook"></i></a>
            </div><!--footer-field-->
        </div><!--footer-content-->
    </div>
</div><!--conteudo-->
