/*Assinar com senha*/
.box-login {
    padding: 5px;
    background: white;
    width: 100%;
    margin: 0 auto;
}

.box-header img {
    width: 200px;
    margin-bottom: 10px;
}

.matricula, .senha {
    width: 100%;
    padding-left: 8px;
    margin-top: 8px;
}

.btn-entrar {
    width: 100%;
    margin-top: 13px;
}

.progressSpinner {
    width: 100%;
    padding: 1px;
    text-align: center;
}

@keyframes p-progress-spinner-color {
    100%,
    0% {
        stroke: #ffffff;
    }
    40% {
        stroke: #ffffff;
    }
    66% {
        stroke: #ffffff;
    }
    80%,
    90% {
        stroke: #ffffff;
    }
}