<div class="conteudo">
    <div class="container">
        <div class="box">
            <div class="col-12 p-fluid" style="text-align: center;">
                <img src="assets/mensagem-sistema-icon.png" alt="Minha Figura">
            </div>
            <div class="col-12 p-fluid msgsistema" style="text-align: center;">
                <p>{{ mensagem }}</p>
            </div>
            <div class="col-12 p-fluid" style="max-width: 300px; margin: 0 auto">
                <button pButton onclick="window.location.href = 'http://localhost:8080/siga'"  
                    type="button" label="Voltar ao Siga"></button>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
