.icon {
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.content p {
    font-size: 15px;
    top: 10px;
    line-height: 1;
}

.content {
    width: 100%;
    text-align: center;
    margin-top: 0px;
}

.footer {
    width: 100%;
    text-align: center;
}

.footer button {
    margin-top: 15px;
    width: 120px;
}